body {
    text-align: center;
}

#contentcolumn {
    text-align: left;
    margin-left: 0px;
    width: 700px;
}

a {
    text-decoration: underline;
}

#infobar {
   position: absolute;
   top: 8px;
   right: 0px;
   width: 500px;
   color: #8a6d3b;
   /*font-size: 100%;*/
   font-weight: bold;
}
#progress-circle {
   visibility: hidden;
   float: left;
   display: block;
   width: 32px;
   height: 32px;
   background: url("../images/loader.gif") center no-repeat ;
}

.btn {
    float: left;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.lefttube2 {
    padding-bottom: 10px;
}

.innertube3 {
    padding-bottom: 10px;
}

#visualization {
    display: inline-block;
    /*width: 70%;*/
    /*height: 480px;*/
    margin-left: auto;
    margin-right: auto;
}

#rightbar {
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    width: 100px;
    /*height: auto;*/
}

#rightbar2 {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

#rightbar2 p {
    padding-left: 10px;
}


#shrinkTree,
#expandTree,
#centerRoot,
#toggleLabels,
#flipLayout,
#reorderNodes {
    width: 125px;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#changeGraphUp {
    width: 125px;
    margin-top: 180px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
}

#changeGraphDown {
    width: 125px;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

#exportGraph {
    width: 100px;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 250px;
    text-align: center;
}

#expandSpin {
    width: 80px;
    height: 30px;
    margin-left: 5px;
    text-align: center;
}



#extSelector {
    margin-top: 5px;
    padding-bottom: 2px;
    width: 80px;
    text-align: center;
    height: 30px;
}

#saveAction {
    margin-left: 50px;
    margin-top: 5px;
    padding-bottom: 2px;
    width: 100px;
    height: 30px;
}

#depthExp{
    height: 22px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}

#searchdiv {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

input[type=text] {
    font-size: 14px;
    text-align: center;
    border: 1px solid #CCC;
    width: 400px;
    height: 25px;
}

#getResult {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}

.ui-widget {
    font-size: 12px;
}

#changeGraphUp .ui-button-icon-primary {
    left: auto; right: 0.5em;
}

.ui-spinner {
    height: 28px;
}
.ui-spinner-input {
    text-align: center;
}