body {
    text-align: center;
}

#contentcolumn {
    text-align: left;
    margin-left: 0px;
    width: 700px;
}

a {
    text-decoration: underline;
}

#infobar {
   position: absolute;
   top: 8px;
   right: 0px;
   width: 500px;
   color: #8a6d3b;
   /*font-size: 100%;*/
   font-weight: bold;
}
#progress-circle {
   visibility: hidden;
   float: left;
   display: block;
   width: 32px;
   height: 32px;
   background: url("../images/loader.gif") center no-repeat ;
}

.btn {
    float: left;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.lefttube2 {
    padding-bottom: 10px;
}

.innertube3 {
    padding-bottom: 10px;
}

#visualization {
    display: inline-block;
    /*width: 70%;*/
    /*height: 480px;*/
    margin-left: auto;
    margin-right: auto;
}

#rightbar {
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    width: 100px;
    /*height: auto;*/
}

#rightbar2 {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

#rightbar2 p {
    padding-left: 10px;
}


#shrinkTree,
#expandTree,
#centerRoot,
#toggleLabels,
#flipLayout {
    width: 100px;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#changeGraphUp {
    width: 100px;
    margin-top: 200px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#changeGraphDown {
    width: 100px;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

#exportGraph {
    width: 100px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 250px;
}

#extSelector {
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 80px;
    text-align: center;
}

#saveAction {
    margin-left: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100px;
}


