# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.log

#Python specific
*.pyc

#Sqlite
*.sqlite3

#Apllication specific
.idea/
bin/
include/
local/
sandbox/
share/
lib/

#Node
node_modules/

hiertags/settings_dev.py
