{% extends "base.html" %}
{% load static %}

{% block title %} HIERTAGS - Visualize{% endblock %}

{% block head %}
{#    <link href="{% static "css/jquery.fileupload.css" %}" rel="stylesheet">#}
{#    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">#}
{#    <link href="{% static "css/jquery-ui.structure.min.css" %}" rel="stylesheet">#}
{#    <link href="{% static "css/jquery-ui.theme.min.css" %}" rel="stylesheet">#}
    <link href="{% static "css/visualize.css" %}" rel="stylesheet">
{##}
{#    <script src="{%  static "js/jquery-ui.min.js" %}"></script>#}
{#    <script src="{%  static "js/underscore-min.js" %}"></script>#}
{#    <script src="{%  static "js/jquery.autocomplete.min.js" %}"></script>#}
{#    <script src="{%  static "js/jquery.fileupload.min.js" %}"></script>#}
{#    <script src="{%  static "js/d3.min.js" %}"></script>#}
{#    <script src="{%  static "js/tree.js" %}"></script>#}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>{{ description|safe }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
{#            <span class="btn btn-success fileinput-button">#}
            <span class="btn btn-default btn-file">
                <i class="glyphicon glyphicon-folder-open"></i>
                <span>Choose file</span>
                <input id="fileupload" type="file" name="files[]">
            </span>
        </div>
        <div class="col-md-1">
            <div id="progress-circle" class="progress-circle"></div>
        </div>
        <div class="col-md-9">
             <div id="infobar">Ez egy teszt szöveg!</div>
        </div>
    </div>
        <div class="row">
            <input type="search" id="searchdiv">
        </div>
    {% endblock %}

    {% block visualization %}
        <div class="col-md-12">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <svg id="visualization"></svg>
            </div>
            <div class="col-xs-2 btn-group-vertical" id="rightbar">
                <div class="btnsize">
                <button type="button" class="btn btn-primary btn-sm btn-block">
                    <i class="glyphicon glyphicon-plus btnicon"></i>
                    <span>Expand Tree</span></button>
                <button type="button" class="btn btn-sm btn-primary btn-block">
                    <i class="glyphicon glyphicon-minus"></i>
                    <span>Shrink Tree</span></button>
                <button type="button" class="btn btn-sm btn-primary btn-block">
                    <i class="glyphicon glyphicon-home"></i>
                    <span>Center root</span></button>
                <button type="button" class="btn btn-sm btn-primary btn-block">
                    <i class="glyphicon glyphicon-tag"></i>
                    <span>Toggle Labels</span></button>
                <button type="button" class="btn btn-sm btn-primary btn-block">
                    <i class="glyphicon glyphicon-share-alt"></i>
                    <span>Flip Layout</span></button>
                </div>
            </div>
{#            <div class="col-sm-1 btn-group-vertical" id="rightbar-2">#}
{#                <button type="button" class="btn btn-sm">HELLO</button>#}
{#                <button type="button" class="btn btn-sm">HELLO</button>#}
{#                <button type="button" class="btn btn-sm">HELLO</button>#}
{#            </div>#}
        </div>
        </div>
    {% endblock %}
    <form id="svgform" method="POST" action="download/">
        <input type="text" id="output_format" name="output_format" style="visibility:hidden">
        <input type="text" id="data" name="data" style="visibility:hidden">
        <input type="text" id="layout" name="layout" style="visibility:hidden">
        <input type="submit" value="submit" style="visibility:hidden">
    </form>

    <script src="{%  static "js/jquery-2.1.1.min.js" %}"></script>
{#    <script src="{%  static "js/d3.min.js" %}"></script>#}
{#    <script src="{%  static "js/jquery.autocomplete.min.js" %}"></script>#}
{#    <script src="{%  static "js/underscore-min.js" %}"></script>#}
{#    <script src="{%  static "js/tree.js" %}"></script>#}
