{% extends "base.html" %}
{% load static %}

{% block title %} HIERTAGS - Visualize{% endblock %}

{% block head %}
    <link href="{% static "css/visualize.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>{{ description|safe }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <span class="btn btn-default btn-file">
                <i class="glyphicon glyphicon-folder-open"></i>
                <span>Choose file</span>
                <input id="fileupload" type="file" name="files[]">
            </span>
        </div>
        <!-- col-md-2 !-->
        <div class="col-md-1">
            <div id="progress-circle" class="hidden progress-circle text-center"></div>
        </div>
        <div class="col-md-9">
            <div class="text-center" id="error-bar"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-7 hidden">
            <div class="input-group input-group-sm">
                <input class="text-center form-control" type="search"
                       id="tag-search" placeholder="Search for a tag">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="btn-tag-search"
                                    type="button">Go!</button>
                        </span>
            </div>
            <!-- /input-group -->
        </div>
        <div class="col-xs-2"></div>
    </div>
{% endblock %}

{% block visualization %}
    <div class="col-md-12 max-height hidden" id="visualization-area">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8" id="graph-name"></div>
        </div>
        <div class="row max-height">
            <div class="col-xs-2">
                <div class="input-group input-group-sm" id="left-bar">
                    <form id="svgform" method="POST" action="download/">
                        <input type="text" id="output_format">
                        <input type="text" id="data" name="data">
                        <input type="text" id="layout" name="layout">
                        <input type="submit" value="submit">
                    </form>
                </div>
            </div>
            <div class="col-xs-8">
                <svg id="visualization"></svg>
            </div>
            <div class="col-xs-2 btn-group-vertical" id="rightbar">
                <div class="btnsize">
                    <button type="button" class="btn btn-primary btn-sm btn-block btn-tooltip"
                            id="btn-expand-tree"
                            data-toggle="tooltip" data-placement="left"
                            title="Increase the space between the nodes">
                        <i class="glyphicon glyphicon-plus btnicon"></i>
                        <span>Expand Tree</span></button>
                    <button type="button" class="btn btn-sm btn-primary btn-block btn-tooltip"
                            id="btn-shrink-tree"
                            data-toggle="tooltip" data-placement="left"
                            title="Decrease the space between the nodes">
                        <i class="glyphicon glyphicon-minus"></i>
                        <span>Shrink Tree</span></button>
                    <button type="button" class="btn btn-sm btn-primary btn-block btn-tooltip"
                            id="btn-center-root"
                            data-toggle="tooltip" data-placement="left"
                            title="Reset view to the root element">
                        <i class="glyphicon glyphicon-home"></i>
                        <span>Center root</span></button>
                    <button type="button" class="btn btn-sm btn-primary btn-block btn-tooltip"
                            id="btn-toggle-label"
                            data-toggle="tooltip" data-placement="left"
                            title="Show/hide node labels">
                        <i class="glyphicon glyphicon-tag"></i>
                        <span>Toggle Labels</span></button>
                    <button type="button" class="btn btn-sm btn-primary btn-block btn-200-below btn-tooltip"
                            id="btn-flip-layout"
                            data-toggle="tooltip" data-placement="left"
                            title="Change between horizontal and vertical tree layout">
                        <i class="glyphicon glyphicon-share-alt"></i>
                        <span>Flip Layout</span></button>

                    <div class="btn-group-sm" id="graph-pager">
                        <button type="button" class="btn btn-sm btn-primary btn-block btn-tooltip"
                                id="btn-prev-graph">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            <span>Previous Graph</span></button>
                        <button type="button" class="btn btn-sm btn-primary btn-block btn-tooltip"
                                id="btn-next-graph">
                            <span>Next Graph</span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                        <div id="graph-data">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-3">
                <form class="form-inline">
                    <div class="form-group form-group-sm">
                        <label class="control-label noselect" for="depth-input">Depth of graph: </label>
                        <span class="noselect" id="depth-number"></span>
                        <span class="noselect"> / </span>
                        <div class="input-group">
                        <input type="number" class="form-control input-sm" id="depth-input"
                               value="1" min="1">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm btn-tooltip" id="btn-expand-graph"
                                    type="button"
                                    data-toggle="tooltip" data-placement="top"
                                    title="Expand the graph to the selected depth">Expand</button>
                        </span>
                            </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-2">
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        Save <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-form" role="menu">
                        <li>
                            <label class="checkbox">
                                <input type="checkbox">
                                Whole Graph
                            </label>
                        </li>
                        <li class="divider"></li>
                        <li id="export-svg">SVG</li>
                        <li id="export-jpg">JPG</li>
                        <li id="export-png">PNG</li>
                        <li class="divider"></li>
                        <li id="expéort-edge">Edgelist</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static "js/visualization.min.js" %}"></script>
{% endblock %}
