html, body {
    text-align: center;
    height: 100%;
}

/* Override contentcolumn to span the whole column */
#contentcolumn {
    text-align: left;
    margin-left: 0px;
    width: 700px;
}

/* === File upload button === */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 90px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

a {
    text-decoration: underline;
}

#progress-circle {
    #visibility: hidden;
    display: block;
    width: 32px;
    height: 32px;
    background: url("/static/images/loader.gif") center no-repeat;
}

#infobar {
    color: #8a6d3b;
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
}

.max-height {
    height: 90%
}

.row > div {
    height: 100%;
}

/* to make columns visible */
.row .col-xs-1 {
    background-color: #eee;
}

.row .col-xs-8 {
    background-color: #ddd;
}

.hidden {
    display: hidden;
}

#depth-input {
    width: 60px;
}
/*space between buttons*/
/*.btn-group-vertical > div > button {*/
    /*margin-bottom: 10px;*/
/*}*/

.btn-200-below {
    margin-bottom: 50px;
}

.btn-group-vertical > div > button > span {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: 80px;
}
.inline-button {
    display: inline-block;
}
.btnicon {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    width: 30px;
}

.btnsize {
    width: 120px;
    margin: 0 auto;
}

.lefttube2 {
    padding-bottom: 10px;
}

.innertube3 {
    padding-bottom: 0px;
}

#visualization {
    border: solid 1px #C4C2C2;
    width: 100%;
    height: 100%;
}


.node {
    cursor: pointer;
}

.overlay {
    background-color: #ffffff;
}

.node circle {
    stroke: steelblue;
    stroke-width: 1px;
    fill: #ffffff;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}
.addedLink {
    stroke: #88F;
    stroke-dasharray: 5 2;
}

.foundLink {
   stroke: green;
}

.node .foundCircle {
    stroke: green;
    stroke-width: 2px;
}

.selectedLink {
    stroke: red;
}

.nodeText {
    pointer-events: none;
}
#graph-data {
    margin-top: 20px;
}

#graph-data > p {
    margin-top: -5px;
    line-height: 1em;
}

/*#rightbar {*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*margin-left: 10px;*/
    /*width: 100px;*/
    /*height: auto;*/
/*}*/

/*#rightbar2 {*/
    /*display: block;*/
    /*width: 70%;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
/*}*/

/*#rightbar2 p {*/
    /*padding-left: 10px;*/
/*}*/


/*#shrinkTree,*/
/*#expandTree,*/
/*#centerRoot,*/
/*#toggleLabels,*/
/*#flipLayout,*/
/*#reorderNodes {*/
    /*width: 125px;*/
    /*margin-top: 5px;*/
    /*padding-top: 2px;*/
    /*padding-bottom: 2px;*/
/*}*/

/*#changeGraphUp {*/
    /*width: 125px;*/
    /*margin-top: 180px;*/
    /*padding-top: 2px;*/
    /*padding-bottom: 2px;*/
    /*text-align: left;*/
/*}*/

/*#changeGraphDown {*/
    /*width: 125px;*/
    /*margin-top: 5px;*/
    /*padding-top: 2px;*/
    /*padding-bottom: 2px;*/
    /*margin-bottom: 10px;*/
/*}*/

/*#exportGraph {*/
    /*width: 100px;*/
    /*height: 30px;*/
    /*padding-top: 2px;*/
    /*padding-bottom: 2px;*/
    /*margin-left: 250px;*/
    /*text-align: center;*/
/*}*/

/*#expandSpin {*/
    /*width: 80px;*/
    /*height: 30px;*/
    /*margin-left: 5px;*/
    /*text-align: center;*/
/*}*/



/*#extSelector {*/
    /*margin-top: 5px;*/
    /*padding-bottom: 2px;*/
    /*width: 80px;*/
    /*text-align: center;*/
    /*height: 30px;*/
/*}*/

/*#saveAction {*/
    /*margin-left: 50px;*/
    /*margin-top: 5px;*/
    /*padding-bottom: 2px;*/
    /*width: 100px;*/
    /*height: 30px;*/
/*}*/

/*#depthExp{*/
    /*height: 22px;*/
/*}*/

/*.templink {*/
    /*fill: none;*/
    /*stroke: red;*/
    /*stroke-width: 3px;*/
/*}*/

/*#searchdiv {*/
    /*width: 50%;*/
    /*display: block;*/
    /*margin-top: 15px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

/*input[type=text] {*/
    /*font-size: 14px;*/
    /*text-align: center;*/
    /*border: 1px solid #CCC;*/
    /*width: 400px;*/
    /*height: 25px;*/
/*}*/

/*#getResult {*/
    /*width: 25px;*/
    /*height: 25px;*/
    /*margin-bottom: 5px;*/
/*}*/

/*.ui-widget {*/
    /*font-size: 12px;*/
/*}*/

/*#changeGraphUp .ui-button-icon-primary {*/
    /*left: auto; right: 0.5em;*/
/*}*/

/*.ui-spinner {*/
    /*height: 28px;*/
/*}*/
/*.ui-spinner-input {*/
    /*text-align: center;*/
/*}*/