{% extends "base.html" %}

{% block title %} HIERTAGS - {{ flatpage.title }}{% endblock %}

{% block content %}
    {{ flatpage.content }}
{% endblock %}

{% block leftcontact %}
    <div id="leftcolumn">
        <div class="lefttube">
            <br>

            <div id="subtitle1">Contact</div>
            hiertags@hal.elte.hu
            <br>
            <br>
            {% if act_menu == 'downloads' %}
                <ul>
                    <li>
                        <a title="Hierarchy Extracting Algorithms" href="/downloads/algorithms/">Algorithms</a>
                    </li>
                    <li>
                        <a title="Tagged Datasets" href="/downloads/">Datasets</a>
                    </li>
                </ul>
            {% else %}
                <br>
            {% endif %}
            <br>
        </div>
    </div>
{% endblock %}
