<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>{% block title %} HIERTAGS {% endblock %}</title>
    <link type="image/x-icon" href="{{ STATIC_URL }}site_media/img/favicon.ico" rel="icon">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="{{ STATIC_URL }}site_media/css/HIERTAGS_style.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div id="maincontainer">
        <div class="center">
            <img src="{{ STATIC_URL }}site_media/img/HIERTAGS_banner.jpg" alt="" style="width: 700px; height: 107px;" >
            <br>
        </div>
        <div id="modernbricksmenu2">
            <ul>
                <li {%  if act_menu == 'home' %}id="currentleft" style="margin-left: 1px">{% else %}>{% endif %}
                    <a title="Home" href="/home/">Home</a>
                </li>
                <li {%  if act_menu == 'downloads' %}id="currentleft" style="margin-left: 1px">{% else %}>{% endif %}
                    <a title="Downloads" href="/downloads/">Downloads </a>
                </li>
                <li {%  if act_menu == 'publications' %}id="currentleft" style="margin-left: 1px">{% else %}>{% endif %}
                    <a title="Publications" href="/publications/">Publications</a>
                </li>
                <li {%  if act_menu == 'people' %}id="currentleft" style="margin-left: 1px">{% else %}>{% endif %}
                    <a title="People" href="/people/">People</a>
                </li>
                <li {%  if act_menu == 'visualize' %}id="currentleft" style="margin-left: 1px">{% else %}>{% endif %}
                    <a title="Visualize" href="/graphviz/flash/">Visualize</a>
                </li>
            </ul>
        </div>
        <br style="clear: left" />
        <div id="contentwrapper">
            <div id="contentcolumn">
                <div class="innertube3">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        {% block leftcontact %}{% endblock %}
    </div>
</body>
</html>
