{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}/site_media/js/cytoscape/cytoscape.js"></script>
    <script type="text/javascript">
        $(function() {
            $.ajax({
                url: '/graph/data/cytoscapejs/',
                async: false,
                success: function(retval) {
                    $('#graph').cytoscape({
                        showOverlay: false,
                        //minZoom: 0.5,
                        maxZoom: 2,
                        layout: {
                          name: 'preset'
                        },
                        elements: { 
                            nodes: retval.nodes,
                            edges: retval.edges
                        },
                    });
                }
            });
        });
    </script>
{% endblock %}


{% block content %}
    <div id="graph" style="display: block; width: 100%; height: 500px"></div>
{% endblock %}