{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} HIERTAGS - Visualize{% endblock %}

{% block head %}
    <link href="{{ STATIC_URL }}site_media/css/jquery.fileupload.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}site_media/css/visualize.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}site_media/js/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}site_media/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}site_media/js/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}site_media/js/d3.min.js"></script>
    <script src="{{ STATIC_URL }}site_media/js/d3.layout.tree.js"></script>
    <script src="{{ STATIC_URL }}site_media/js/tree.js"></script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>{{ description|safe }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-folder-open"></i>
                <span>Choose file</span>
                <input id="fileupload" type="file" name="files[]">
            </span>
            <div id="progress-circle" class="progress-circle"></div>
            <div id="errorp" class="errorp"></div>
        </div>
    </div>
{% endblock %}
