#contentcolumn {
    margin-left: 0px;
    width: 700px;
}

a {
    text-decoration: underline;
}

#infobar {
   position: absolute;
   top: 8px;
   right: 0px;
   width: 500px;
   color: #8a6d3b;
   /*font-size: 100%;*/
   font-weight: bold;
}
#progress-circle {
   visibility: hidden;
   float: left;
   display: block;
   width: 32px;
   height: 32px;
   background: url("../img/loader.gif") center no-repeat ;
}

.btn {
    float: left;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
