{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}site_media/js/cytoscapeweb/cytoscapeweb.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site_media/js/cytoscapeweb/json2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site_media/js/cytoscapeweb/AC_OETags.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}site_media/css/jquery.fileupload-ui.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}site_media/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site_media/js/graphviz.js"></script>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>{{ description|safe }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Select files...</span>
                <input id="fileupload" type="file" name="file" multiple>
            </span>
            <!-- The global progress bar -->
            <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success"></div>
            </div>
        </div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
    <div class="col-md-12">
        <!-- button type="button" id="showall" class="btn btn-lg btn-primary" disabled="disabled">Show all nodes</button -->
        <div id="graphViewer" style="width: 100%; height: 600px; display: block;">
            Cytoscape Web will replace the contents of this div with your graph.
        </div>
    </div>
{% endblock %}
