{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} HIERTAGS - Visualize{% endblock %}

{% block head %}
    <link href="{{ STATIC_URL }}site_media/css/jquery.fileupload.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}site_media/css/visualize.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}site_media/js/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}site_media/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}site_media/js/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}site_media/js/cytoscapeweb/cytoscapeweb.min.js"></script>
    <script src="{{ STATIC_URL }}site_media/js/cytoscapeweb/json2.min.js"></script>
    <script src="{{ STATIC_URL }}site_media/js/cytoscapeweb/AC_OETags.min.js"></script>
    <script src="{{ STATIC_URL }}site_media/js/graphviz.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>{{ description|safe }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Choose file</span>
                <input id="fileupload" type="file" name="files[]">
            </span>
            <div id="errorp" class="errorp"></div>
            <!-- The global progress bar -->
            <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success"></div>
            </div>
        </div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
    <div class="col-md-12">
        <!-- button type="button" id="showall" class="btn btn-lg btn-primary" disabled="disabled">Show all nodes</button -->
        <div id="graphViewer" style="width: 100%; height: 400px; display: block;">
        </div>
    </div>
{% endblock %}
