body {
    line-height: 1.3em;
    margin: 0;
    padding: 0;
}

b {
    font-size: 90%;
}

a {
    color: black;
}

a:hover {
    color: #456ba2;
}

a.noline {
    text-decoration: none;
}

a.noline:hover {
    text-decoration: underline;
}

a.white {
    color: white;
}

a.white:hover {
    color: #C4C2C2;
}

a.gray {
    color: #EAEAEA;
}

a.gray:hover {
    color: #C4C2C2;
}

em {
    color: #C4C2C2;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.floatRight {
    float: right;
    margin: 10px 5px 5px;
}

img.floatLeft {
    float: left;
    margin: 10px 10px 5px 5px;
}

img.email {
    display: block;
    margin: 0px 0px 0px 0px;
}

#maincontainer {
    font: 13px Verdana;
    background: #000000;
    margin: 0 auto;
    width: 700px;
}

#contentwrapper {
    background: none repeat scroll 0 0 #DFE0DC;
    float: left;
    width: 100%;
}

#contentcolumn {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    margin-bottom: 0;
    margin-left: 150px;
    width: 550px;
}

#leftcolumn {
    background: none repeat scroll 0 0 #DFE0DC;
    color: #000000;
    float: left;
    margin-bottom: 0px;
    margin-left: -700px;
    margin-top: 0;
    padding-left: 0px;
    padding-top: 5px;
    width: 150px;
}

#subtitle1 {
    color: #000000;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    padding: 4px 0;
    text-align: left;
    width: 100%;
}

#subtitle2 {
    color: #000000;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 13px;
    font-weight: bolder;
    padding: 4px 0;
    text-align: left;
    width: 100%;
}

#datasettitle {
    color: orange;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 23px;
    font-weight: bolder;
    padding: 4px 0;
    text-align: left;
    width: 100%;
}

#datasettitle2 {
    color: orange;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 18px;
    font-weight: bolder;
    padding: 4px 0;
    text-align: left;
    width: 100%;
}

#datadesc {
    color: black;
    font-family: Georgia, serif;
    font-size: 13px;
    padding: 10px 0;
    text-align: left;
    width: 100%;
}

#filelist {
    background: white;
    margin: 10px;
    border-collapse: collapse;
    text-align: left;
    width: 680px;
}

#filelist th {
    font-size: 14px;
    font-weight: normal;
    color: white;
    background: blue;
    padding: 5px 10px;
    text-align: left;
}

#filelist td {
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 3px 8px;
}

#filelist tbody a {
    text-decoration: none;
    color: #74a743;
}

#filelist tbody a:hover {
    text-decoration: underline;
}

#filelist tbody tr:hover td {
    color: #000;
    background: #eeeeee;
}

#subtext1 {
    border-color: #EAEAEA;
    border-style: solid;
    border-width: 0 0 2px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
}

#subtext {
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
}

#blocktext {
    line-height: 1.2em;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: left;
    width: 100%;
}

.innertube {
    margin: 0px 5px 0px 10px;
    padding-top: 5px;
}

.innertube2 {
    margin: 0px 5px 0px 10px;
    padding-top: 5px;
    padding-bottom: 70px;
}

.innertube3 {
    margin: 0px 5px 0px 10px;
    padding-top: 5px;
    padding-bottom: 700px;
}

.lefttube {
    margin-right: 10px;
    margin-left: 5px;
    padding-bottom: 8px;
}

.lefttube2 {
    margin-right: 10px;
    margin-left: 5px;
    padding-bottom: 521px;
}

#modernbricksmenu2 {
    background: none repeat scroll 0 0 #DFE0DC;
    border-bottom: 5px solid #000000;
    border-top: 5px solid #000000;
    float: left;
    padding: 0;
    width: 100%;
}

#modernbricksmenu2 ul {
    list-style: none outside none;
    margin: 0 0 0 30px;
    padding: 0;
}

#modernbricksmenu2 li {
    display: inline;
    margin: 0 1px 0 0;
    padding: 0;
    text-transform: uppercase;
}

#modernbricksmenu2 a {
    background-color: #DFE0DC;
    border-right: 1px solid #000000;
    color: black;
    display: block;
    float: left;
    font: bold 11px Arial;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
}

#modernbricksmenu2 a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

#modernbricksmenu2 #left a {
    border-left: 1px solid #C4C2C2;
}

#modernbricksmenu2 #currentleft a {
    background-color: #000000;
    border-color: #000000 #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    color: #FFFFFF;
}

#modernbricksmenu2 #current a {
    background-color: #C4C2C2;
    border-color: #C4C2C2 black #C4C2C2 #C4C2C2;
    border-right: 1px solid #C4C2C2;
    color: white;
}

/*ADDED*/
a {
    text-decoration: underline;
}
